<?xml version="1.0" ?>
<launch>

	<include file="$(find asv_gazebo)/launch/gazebo.launch" />

	<include file="$(find asv_localization)/launch/phase2_localization.launch" />

	<include file="$(find asv_controls)/launch/controls.launch" />

	<include file="$(find asv_navigation)/launch/phase2_navigation.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d ~/.rviz/navstack.rviz" />

</launch>