<?xml version="1.0"?>
<launch>
	<!-- If permission error comes. Do chmod 777 to /dev/ttyUSBx-->
	<arg default="/dev/ttyUSB0" name="gps_com"/>
	<arg default="38400" name="gps_baud"/>
	<node args="_port:=$(arg gps_com) _baud:=$(arg gps_baud)" name="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver"/>
</launch>