<?xml version="1.0"?>
<launch>

	<!-- Load the URDF into the ROS Parameter Server -->
  	<param command="$(find xacro)/xacro '$(find asv_gazebo)/urdf/gazebo.xacro' --inorder" name="robot_description"/>
	
	<!--Joint And Robot State Publishers to give TF of all links-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

	<node name="odom" pkg="asv_sensors" type="gps_to_odom.py" respawn="true" output="screen" />

</launch>